assets/*.ttf
assets/*.otf

build/*
!build/.gitkeep

__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.venv/
.plotter-cache/
font-cache/
!font-cache/
font-cache/*
!font-cache/.gitkeep
1-font-cache/
math-font-cache/
rim-font-cache/
